# Config::Simple 4.58
# Mon Nov 24 07:46:13 2014

last_checked "Mon, 24 Nov 2014 13:46:46 -0000"
last_price 367.43
last_average 380.49
winners devlspawn, TeloOfficial, sctandogdu, bizmar
followers GirlInvest, ahmadmanga, OKCoinBTC, freshnode, TheShadow3141, NSaNePrEp, toliro, TeachLinux, 4vrblonde, sctandogdu, iamultimate, JanelleCowie, JohnLehneis, jdsmithies, Sir_Lebowski, baldockandy, devlspawn, mahrteen, TeloOfficial, riaanjutte, riprowan, Voittoe, Gabrolaz, bizmar, LTCInformation, darinarrick, VBeast_net, futuredrac

