# Config::Simple 4.58
# Mon Dec  1 07:57:33 2014

last_checked "Mon, 01 Dec 2014 13:58:07 -0000"
five_day_ema 378.23
last_price 379.79
ten_day_ema 375.33
last_average 379.71
winners devlspawn, TeloOfficial, sctandogdu, bizmar, riprowan, NSaNePrEp, 4vrblonde, TheShadow3141, Sir_Lebowski, piplewis, _bitcoinaire_
followers bredsaal, Bitcoin10min, TechNovatie, ihatecancer11, HomeSolutionsTo, piplewis, _bitcoinaire_, tusharsingh, GirlInvest, ahmadmanga, OKCoinBTC, freshnode, TheShadow3141, NSaNePrEp, toliro, TeachLinux, 4vrblonde, sctandogdu, JanelleCowie, JohnLehneis, jdsmithies, Sir_Lebowski, baldockandy, devlspawn, mahrteen, TeloOfficial, riaanjutte, riprowan, Voittoe, Gabrolaz, bizmar, LTCInformation, darinarrick, VBeast_net, futuredrac

