# Config::Simple 4.58
# Fri Jan  2 07:30:05 2015

six_day_ema 316.79
ten_day_ema 319.08
used_hold_messages 11, 4, 8, 3, 0, 2, 14, 6, 15
last_buy 310.00
last_checked "Fri, 02 Jan 2015 13:31:22 -0000"
last_price 315.81
last_average 349.89
last_sell 400.00
winners devlspawn, TeloOfficial, sctandogdu, bizmar, riprowan, NSaNePrEp, 4vrblonde, TheShadow3141, Sir_Lebowski, piplewis, _bitcoinaire_, jdsmithies, TeachLinux, Bitcoin10min, GirlInvest, JanelleCowie, darinarrick, freshnode, OKCoinBTC, bredsaal, HomeSolutionsTo, Voittoe, mrchilly_crypto, ahaseeba, VBeast_net, Gabrolaz, toliro, riaanjutte, realjoshpurvis, kylekemper, ihatecancer11, ahmadmanga, ahmadansharr, LTCInformation, tusharsingh, baldockandy, restu_adytia, topguncon, RichardKain, Back_InBusiness, krellis, RRlawofopposite, TechNovatie
followers MrStevenDaSilva, EverydayEarth, jmheeren, KlausLovgreen, RRlawofopposite, delk, 1FreeChat, haiyanksa, getrichadvice, benmundt, mark_a_howard, LocalSlacks, micksabox, RichardKain, LetsBeSapid, jackfru1t, tylermevans, frumpy, mirmanwar, bitcoinsmaster, krellis, areosmithh, ahmadansharr, thisisvick, Back_InBusiness, MasterGerund, topguncon, ahaseeba, mrchilly_crypto, realjoshpurvis, kylekemper, bredsaal, TechNovatie, ihatecancer11, HomeSolutionsTo, piplewis, _bitcoinaire_, tusharsingh, GirlInvest, ahmadmanga, OKCoinBTC, freshnode, TheShadow3141, NSaNePrEp, toliro, TeachLinux, 4vrblonde, sctandogdu, JanelleCowie, JohnLehneis, jdsmithies, Sir_Lebowski, baldockandy, devlspawn, mahrteen, TeloOfficial, riaanjutte, riprowan, Gabrolaz, bizmar, LTCInformation, darinarrick, VBeast_net, futuredrac

